
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container drop-shadow" id="menu">
    <h3 align="center">Приложение для обработки анкет кандидатов в десятую марсианскую экспедицию</h3>
    <p align="center">(c) 2017 Sergey Kovtun</p>
</div>
